# 忽略 Visual Studio 生成的文件和文件夹
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 忽略编译生成的文件
cpp/Project1/Debug/
cpp/Project1/Release/
cpp/Project1/x64/
*.exe
*.obj
*.pdb

# ==============================
# Code::Blocks 临时文件（C）
# ==============================
*.o
*.exe
*.layout
*.depend

# ==============================
# 系统临时文件
# ==============================
Thumbs.db
.DS_Store