# 忽略 Visual Studio 的临时文件和编译输出
Debug/
Release/
x64/
x86/
*.tlog
*.log
*.ilk
*.pdb
*.exe
*.obj
*.ipch
*.sdf
*.user
*.suo

# 忽略 .vs 文件夹
.vs/
# 忽略 Visual Studio 项目文件
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# ==============================
# Code::Blocks 临时文件（C）
# ==============================
*.o
*.exe
*.layout
*.depend

# ==============================
# 系统临时文件
# ==============================
Thumbs.db
.DS_Store