# ==============================
# Visual Studio 临时文件（C++）
# ==============================
*.exe
*.obj
*.pdb
*.idb
*.ilk
*.user
*.suo
*.vcxproj.user
Debug/
Release/

# ==============================
# Code::Blocks 临时文件（C）
# ==============================
*.o
*.exe
*.layout
*.depend

# ==============================
# 系统临时文件
# ==============================
Thumbs.db
.DS_Store